body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #37c6ff, #483bff);
}

#card-gradiente {           /* colore grandiente homepage card */
     background: linear-gradient(to right, #ffdd00, #ff9b17);
}

.title-x1 {
  font-size: 4rem;   /* dimensione del testo */
  font-weight: bold; /* grassetto */
  text-align: center; /* centrato */
}

.title-x2 {
  font-size: 2rem;   /* dimensione del testo */
  font-weight: bold; /* grassetto */
  text-align: center; /* centrato */
}
.title-left-x1 {
  font-size: 4rem;   /* dimensione del testo */
  font-weight: bold; /* grassetto */
  text-align: left; /* sinistra */
}
.title-left-x2 {
  font-size: 2rem;   /* dimensione del testo */
  font-weight: bold; /* grassetto */
  text-align: left; /* sinistra */
}

/* Stile personalizzato per il link attivo */
.nav-link.active-page {
  background-color: #0d6efd; /* Colore di sfondo */
  color: white !important;   /* Testo bianco */
  border-radius: 5px;        /* Angoli arrotondati */
}
